<div class="account-form">

    {% form 'reset_customer_password' %}

        <fieldset>

            <legend class="account__title">{{ 'accounts.reset_password_title' | t }}</legend>

            <div>

                <div class="field-group">
                    <input required type="password" name="customer[password]" class="input" {% if autofocus %}autofocus{% endif %} placeholder="{{ 'accounts.reset_password_field_label' | t }}">
                </div>

                <div class="field-group">
                    <input required type="password" name="customer[password_confirmation]" class="input" placeholder="{{ 'accounts.reset_password_conf_field_label' | t }}">
                </div>

            </div>

            {% comment %}
                Show form errors.
            {% endcomment %}
            {% if form.errors %}
                <div class="message  message--error" role="status">{{ form.errors | default_errors }}</div>
            {% endif %}

            <button type="submit" class="mt-m  button  button--primary">{{ 'accounts.reset_password_button' | t }}</button>

            <a href="/account" class="mt-s  button  button--white">{{ 'accounts.reset_password_cancel' | t }}</a>

        </fieldset>

    {% endform %}

</div>
