<div class="account-form  forgot-password">

    {% form 'recover_customer_password' %}

        <fieldset>

            <legend class="account__title">{{ "accounts.forgot_password_title" | t }}</legend>

            {% comment %}
                Show success message, if submitted successfully.
            {% endcomment %}
            {% if form.posted_successfully? %}

                <div class="message  message--success  message--large">{{ "accounts.forgot_password_form_success" | t }}</div>

                <div class="button  button--primary  js-forgot-pw-close">{{ "accounts.forgot_password_close" | t }}</div>

                <script>
                    $(".forgot-password").addClass("forgot-password--toggled");
                </script>

            {% endif %}

            {% comment %}
                Hide the form elements if the form was successfully submitted.
            {% endcomment %}
            {% unless form.posted_successfully? %}

                {% comment %}
                    Email field.
                {% endcomment %}
                <input required type="email" placeholder="{{ 'accounts.email_field_label' | t }}" name="email" class="input" {% if autofocus %}autofocus{% endif %}>

                {% comment %}
                    Show form errors.
                {% endcomment %}
                {% if form.errors %}
                    <div class="message  message--error">{{ form.errors | default_errors }}</div>
                {% endif %}

                <div class="mt-s">

                    <button type="submit" class="button  button--primary">{{ "accounts.forgot_password_button" | t }}</button>

                    <div class="mt-s  button  button--white  js-forgot-pw-close">{{ "accounts.forgot_password_cancel" | t }}</div>

                </div>

            {% endunless %}

        </fieldset>

    {% endform %}

</div>
